/* ===========Css Common================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
:root {
    --font-family: "Satoshi", sans-serif;
    --second-family: "Integral CF", sans-serif;
    --primary-color: #000;
    --secondary-color: #fff;
  }

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 77.5rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ===========Css Common End================ */