* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}
:root {
  --font-family: 'Montserrat', serif;
  --second-family: 'Poppins', serif;
  --primary-color: #000;
  --secondary-color: #fff;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* COMEN CSS END HARE */
/* HEADER STERD HEAR  */
.rapaper {
  width: 100vw;
  background-color: #000;
  height: 38px;
}
.signUp {
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
}
.signUp p {
  color: var(--secondary-color);
  text-align: center;
  width: 100vw;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}
.signUp p a {
  color: var(--secondary-color);
  width: 100vw;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
}
.signUp a iconify-icon {
  color: var(--secondary-color);
  font-size: 20px;
}
/*NAV BER STERT HARE  */
nav {
  width: 100vw;
  height: 90px;
  border-bottom: 2px solid #ddd;
}
.content {
  width: 1240px;
  height: 100%;
  margin: auto;
}
.content .row {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.content .row .meno-ber {
  font-size: 25px;
  color: var(--primary-color);
  display: none;
}
.content .row ul {
  display: flex;
}
.content .row ul li {
  margin: 0 12px;
}
.content .row ul a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color);
}
.row .sarch-box {
  border-radius: 62px;
  display: flex;
  align-items: center;
  background: #f0f0f0;
}
.row .sarch-box iconify-icon {
  height: 48px;
  width: 48px;
  padding: 12px;
  font-size: 25px;
}
.row .sarch-box input {
  width: 529px;
  height: 48px;
  padding: 12px;
  border-radius: 0 62px 62px 0;
  outline: none;
  border: none;
  background: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.quicklist {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.quicklist a iconify-icon {
  font-size: 25px;
  color: var(--primary-color);
  margin: 7px;
}
.quicklist .m-saesh {
  display: none;
}
.quicklist a .cart {
  font-size: 30px;
}
/* *NAV BER END HARE  */
/* *HEADER END HEAR  */

/* ?MAIN BANER STERT HARE  */

.baner-box {
  width: 100vw;
  height: 663px;
  background: #f3f0f1;
}
.baner-box .conaint {
  width: 1240px;
  height: 100%;
  margin: auto;
}
.conaint .row {
  height: 100%;
}
.conaint .row .left-side {
  width: 50%;
  height: 100%;
}
.row .left-side {
  display: flex;
  align-items: center;
}
.left-side .raper h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #000;
}
.left-side .raper .Paragrap {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: rgba(0, 0, 0, 0.6);
  margin: 32px 0;
}
.left-side .raper a {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 62px;
  padding: 16px 54px;
  background: var(--primary-color);
}
.left-side .raper .counting-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 48px;
  height: 74px;
}
.left-side .raper .counting h5 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: #000;
}
.left-side .raper .counting p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 137%;
  color: rgba(0, 0, 0, 0.6);
}

.left-side .raper .c-margin-1 {
  padding-right: 32px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.left-side .raper .c-margin-2 {
  padding: 0 32px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.left-side .raper .c-margin-3 {
  padding-left: 32px;
}
.conaint .row .right-side {
  width: 50%;
  height: 100%;
}
.right-side img {
  width: 100%;
  margin-top: 51px;
}
/* ?MAIN BANER END HARE  */
/* Brand STERT HARE  */
.brinds-logo {
  width: 100vw;
  height: 122px;
  background: var(--primary-color);
}
.brinds-logo .row {
  align-items: center;
  width: 1240px;
  height: 100%;
  margin: auto;
  justify-content: space-between;
}
/* Brand END HARE  */

/* !MEDIA QUERY STERT HEAR  */

@media (max-width: 431px) {
  .signUp {
    width: 100vw;
  }
  .signUp p {
    font-size: 12px;
  }
  .signUp a iconify-icon {
    display: none;
  }
  /* nav ber stert   */
  .row .logo img {
    width: 126px;
    margin-left: -23px;
  }
  .content {
    width: 100vw;
  }
  .content .row .meno-ber {
    display: block;
    margin-left: 16px;
  }
  .content .row ul {
    display: none;
  }
  .quicklist .m-saesh {
    display: block;
  }
  .row .sarch-box iconify-icon {
    display: none;
    font-size: 25px;
    margin-right: 16px;
  }
  .sarch-box input {
    display: none;
  }
  /* MAIN BANER STERD HARE  */

  .conaint .row .left-side {
    width: 100%;
    align-items: baseline;
  }

  .left-side .raper h2 {
    font-size: 40px;
    line-height: 94%;
    width: 90vw;
    margin: 40px 0 20px;
  }
  .left-side .raper p {
    width: 94vw;
    font-size: 14px;
  }
  .left-side .raper {
    margin: 0 16px;
    width: 92vw;
  }
  .conaint .row .right-side {
    width: 100vw;
  }

  .right-side img {
    margin-top: 0;
  }
  .left-side .raper a {
    padding: 12px 36%;
  }
  /* MAIN BANER END HARE  */
}
/* ?MEDIA QUERY END HEAR  */
